<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buzón Ciudadano</h1>
    <p>Lamentamos informarle que la sugerencia "<%= @suggestion.title %>" ha sido eliminada por su autor.
    Como consecuencia de la eliminación de la sugerencia, los comentarios que haya publicado en la misma se han perdido.</p>
    <p>No dejes de visitar el <%= link_to 'Buzón Ciudadano', @url %> para estar al día de lo que ocurren en tu localidad.</p>
    <p>Un Saludo,</p>
    <p>El equipo del Buzón Ciudadano</p>
    <br>
    <p>--------------------------------------------------------------</p>
    <br>
    <h1>Suggestion Box</h1>
    <p>We regret that the suggestion "<%= @suggestion.title %>" has been removed by the author.</p>
    <p>As a result of the deletion of the suggestion, comments have also been deleted.</p>
    <p>Do not stop visiting the <%= link_to 'Suggestion Box', @url %> to be informed of what happen in your town.</p>
    <p>A Greeting,</p>
    <p>The team of Suggestion Box</p>
  </body>
</html>
