<!-- Comment -->
<div class="comment">
  <div class="header">
    <ul class="list-inline">
      <li class="author"><%= comment.author %></li>
      <li class="date pull-right"><%= comment.created_at.to_formatted_s(:long) %></li>
    </ul>
  </div>
  <div class="text">
    <%= simple_format(comment.text) %>
  </div>
  <p><%= link_to 'Delete Comment', [comment.suggestion, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <hr>
</div>