<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido al Buzón Ciudadano, <%= @comment.author %></h1>
    <p>Has creado un nuevo comentario. Para que sea visible debes validarlo pulsando el siguiente enlace:</p>
    <%= link_to 'Enlace de validacion', @url %>
    <p>Gracias por usar el Buzón Ciudadano</p>
    <br>
    <p>--------------------------------------------------------------</p>
    <br>
    <h1>Welcome to Suggestion Box, <%= @comment.author %></h1>
    <p>You have successfully created a comment. To make it visible you must validate it by clicking the following link:</p>
    <%= link_to 'validation link', @url %>
    <p>Thanks for using the Suggestion Box</p>
  </body>
</html>
