<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Suggestion Box, <%= @comment.author %></h1>
    <p>You have successfully created a comment. To activate it, just follow this link:</p>
    <%= link_to 'validation link', @url %>
    <p>Thanks for using the Suggestion Box</p>
  </body>
</html>