<div class="row">
  <div class="col-md-12">
    <center><h1>Your comment was successfully activated</h1></center>
    <br>
    <center><h3><%= link_to @comment.suggestion.title, @comment.suggestion %></h3></center>
  </div>
</div>
