@import "bootstrap-sprockets";
@import "bootstrap";

body {
  //padding-top: 70px;
  background-color: #f9f9fb;
}

.navbar-brand {
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: #d56444;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("header-background.jpg");
  background-size: cover;
  h1 {
    font-size: 65px;
    font-weight: bold;
  }
  h2 {
    font-size: 55px;
    font-weight: bold;
  }
}

.masthead {
  padding: 80px 0 40px;
}

.panel-default {
  border-color: #090909;
  .panel-heading {
    background-color: #222;
    border-color: #090909;
    color: #9d9d9d;
  }
}

.dropdown-menu {
  background-color: #f9f9fb;
}

.box {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e5e5;
  padding: 25px;
  margin-bottom: 20px;
  .title {
    margin-top: -20px;
    margin-bottom: 15px;
    color: #222222;
  }
  .info {
    margin-bottom: 25px;
  }
}

.comment {
  .header {
    .author {
      font-size: 18px;
    }
    .date {
      font-size: 13px;
      color: #9b9f9f;
    }
  }
}

.comment-city-council-staff {
  background: #FFFFA6;
  border-style: dashed;
  border-width: 2px;
  .header {
    .author {
      font-size: 18px;
      font-weight: bold;
    }
    .city-council-staff {
      font-size: 13px;
      color: #7b7f7f;
    }
    .date {
      font-size: 13px;
      color: #7b7f7f;
    }
  }
  .text {
    font-style: italic;
  }
}

hr {
  color: #e1e5e5;
}

a {
  color: #D54113;
  &:hover {
    color: #A52903;
    text-decoration: none;
  }
  &:focus {
    color: #A52903;
  }
}

.stealth {
  color: #333333;
  &:hover {
    color: #D54113;
  }
}

.zoom {
  color: #333333;
  &:hover {
    color: black;
  }
}

.pagination {
  .active {
    span {
      background-color: #D54113;
      border-color: #D54113;
      &:hover, &:focus {
        background-color: #D54113;
        border-color: #D54113;
      }
    }
  }
  li {
    a {
      color: #D54113;
      &:hover, &:focus {
        color: #A52903;
      }
    }
    span {
      color: #D54113;
    }
  }
}

.btn-red {
  color: #fff;
  background-color: #D54113;
  border-color: #A52903;
  &:hover, &:focus {
    color: #fff;
    background-color: #A52903;
    border-color: #801F01;
  }
}

.btn-grey {
  background-color: #565a5c;
  color: #fff;
  &:hover, &:focus {
    color: #fff;
    background-color: #6C7174;
  }
}

.ul-center {
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.li-blue {
  color: #337AB7;
}

.li-red {
  color: #D9534F;
}

.progress-xs {
  height: 10px;
}

footer {
  text-align: center;
  color: white;
  background-image: url("footer_pattern.png");
  h4 {
    margin-top: 0px;
  }
  a {
    color: #fff;
    &:hover, &:focus {
      color: #cacccd;
    }
  }
  .container {
    padding-top: 40px;
    padding-bottom: 30px;
    hr {
      border-color: rgba(255,255,255,0.2);
    }
    .footer-icon-container {
      display: block;
      height: 36px;
      width: 36px;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      text-align: center;
      border-color: rgba(255,255,255,0.2);
    }
    .footer-icon {
      position: relative;
      top: 7px;
    }
    #copyleft {
      padding-top: 10px;
      color: #82888a;
      p {
        display: inline-block;
      }
      #copyleft-icon {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
  }
}

@-moz-document url-prefix() {
  .position-sticky {
    position: sticky;
    top: 60px;
  }
}

textarea.form-control {
  height: 150px;
}

.field_with_errors {
  @extend .has-error;
}

#error_explanation {
  color:#f00;
  ul {
    margin: 0 0 18px 0;
  }
  li {
    list-style: square;
  }
}
