<%= javascript_include_tag 'suggestions.js', 'data-turbolinks-track' => true %>

<% content_for :header_title, '<h2>Editing Suggestion</h2>'.html_safe %>
<% content_for :header_description, 'Just edit your suggestion' %>
<% content_for :header_button, 'no' %>

<div class="row">
  <div class="col-md-12 box">
    <h1>Editing Suggestion</h1>

    <%= render 'form' %>

  </div>
</div>
<hr>
