<% @suggestions.each do |suggestion| %>
  <% presenter suggestion do |suggestion_presenter| %>
    <div class="row">
      <div class="col-xs-12">
        <h2><%= link_to suggestion.title, suggestion %></h2>
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline">
          <li><i class="glyphicon glyphicon-user"></i> <%= suggestion.author %></li>
          <li><i class="glyphicon glyphicon-calendar"></i> <%= suggestion_presenter.created_at %></li>
          <li><i class="glyphicon glyphicon-comment"></i> <%= pluralize(suggestion_presenter.comments, 'Comment') %></li>
          <!-- ><li><i class="glyphicon glyphicon-share"></i> 14 Shares</li> -->
        </ul>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>