<%= javascript_include_tag 'suggestions.js', 'data-turbolinks-track' => true %>

<% content_for :header_title, "<h2>#{t('.header_title')}</h2>".html_safe %>
<% content_for :header_description, t('.header_description') %>
<% content_for :header_button, 'no' %>

<div class="row">
  <div class="col-md-12 box">
    <%= render 'form' %>
  </div>
</div>
