<footer>
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <ul class="list-inline">
        <li>
          <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-google-plus"></i></a>
        </li>
        <li>
          <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#" class="footer-icon-container"><i class="footer-icon fa fa-instagram"></i></a>
        </li>
      </ul>
      <div id="copyleft">
        <p id="copyleft-icon">©</p>
        <p>Buzón Ciudadano, All rights reversed</p>
      </div>
    </div>
  </div>
</footer>
